body {background-color: black;}

figure {
    margin: unset !important;
 }
 .images {
   text-align: center;
 }
 .images img {
   width: 100vh;
   height:auto;
 }

.image img {
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 .clearfix {
     clear: both;
 }
  
  @media only screen 
   and (min-device-width : 375px) 
   and (max-device-width : 812px) { 
     .images img {
       width: 52vh;
     }
     .image img {
       width: 52vh;
       text-align: center;
     }
  }
